@model PersonalWebsite.Models.EntityFramework.todolist
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @using (Html.BeginForm("New", "Home", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Tasks)
            @Html.TextBoxFor(m => m.Tasks, new { @class = "form-control" })
        </div>
        @Html.HiddenFor(m => m.ID)
        <button type="submit" class="btn btn-success">Click</button>
    }
</div>
