@using PersonalWebsite.Models.EntityFramework
@model List<todolist>
@{
    ViewBag.Title = "Todolist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="todolist">
    <a class="btn btn-primary" style="margin: 20px 0;" href="/Home/New">New Task</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tasks</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Tasks</td>
                    <td> <a class="btn btn-primary" href="/Home/Update/@item.ID">Update</a></td>
                    <td> <a class="btn btn-warning" href="/Home/Delete/@item.ID">Delete</a></td>
                </tr>
            }


        </tbody>

    </table>

</div>
