<footer class="footer text-left">
    <div class="container py-4 py-sm-5">

        <div class="row py-sm-4 py-3">
            <div class="col-lg-2 col-md-4">
                <ul class="list-footer" data-aos="fade-up">
                    <li class="my-1">
                        <a href="/Home/Index" class="">
                            Home
                        </a>
                    </li>
                    <li class="my-2">
                        <a href="/Home/About" class="">
                            About
                        </a>
                    </li>
                    <li class="my-3">
                        <a href="/Home/SoftSkills" class="">
                           Soft Skills
                        </a>
                    </li>


                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mt-sm-5">
                <ul class="list-footer" data-aos="fade-up">
                    <li>
                        <a href="/Home/Contact" class="">
                            Contact me
                        </a>
                    </li>

                    <li>
                        <a href="/Home/Todolist" d class="">
                            To do list
                        </a>
                    </li>


                </ul>
            </div>
            <div class="offset-lg-4"></div>

        </div>
        <hr>
        <div class="d-flex justify-content-between pt-lg-3  footer-bottom-cpy">
            <div class="copy-right-w3ls">
                <p>
                    ©  All rights reserved | Design by Aliyev Balakishi


                </p>
            </div>
            <div class="social-content pb-md-0 pb-4">
                <ul class="social-icons text-center d-flex">
                    <li class="ml-lg-5">
                        <a href="https://www.facebook.com/elcan.eliyev.96558061/">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    
                    
                    <li>
                        <a href="https://www.linkedin.com/in/balaki%C5%9Fi-%C9%99liyev-14a6b7252/">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
