<header class="index-banner" id="home">
    <!-- nav -->
    <nav class="main-header d-flex">
        <div id="brand">

            <div id="word-mark">
                <h1>
                    <a href="/Home/Index">Aliyev Balakishi</a>
                </h1>
            </div>
        </div>
        <div id="menu">
            <div id="menu-toggle">
                <div id="menu-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <ul class="text-center nav-honey">
                <li>
                    <a class="" href="/Home/Index">Home</a>
                </li>
                <li>
                    <a class="" href="/Home/About">About</a>
                </li>
                <li>
                    <a class="" href="/Home/SoftSkills">Soft Skills</a>
                </li>

                <li>
                    <a class="" href="/Home/Jobeducation">Job Education</a>
                </li>

                <li>
                    <a class="" href="/Home/Contact">Contact</a>
                </li>
                <li class="login">
                    <a  class="btn login-btn text-uppercase " href="/Home/Todolist">
                        To do List
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </nav>
    <!-- //nav -->
    <!-- banner -->
    <div class="banner_section">
        <div class="snow-container">
            <div class="snow foreground"></div>
            <div class="snow foreground layered"></div>
            <div class="snow middleground"></div>
            <div class="snow middleground layered"></div>
            <div class="snow background"></div>
            <div class="snow background layered"></div>
        </div>
        <div class="banner-info text-uppercase">
            <h6 data-aos="fade-right">Introduction</h6>
            <h5 data-aos="fade-right">Hello, my name is Balakishi</h5>
            <h3 data-text="Cyber Security">Cyber Security</h3>
            <div class="ban-buttons mt-3" data-aos="fade-right">
                <a class="btn work  " href="/Home/About">About me</a>
                <a class="btn work  " href="/Home/Contact">Contact</a>
            </div>

        </div>
    </div>
    <!-- //banner -->
</header>
