<header class="index-banner" id="home" style="height:80px">
    <!-- nav -->
    <nav class="main-header d-flex " style="background-color:black">
        <div id="brand">

            
        </div>
        <div id="menu">
            <div id="menu-toggle">
                <div id="menu-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <ul class="text-center nav-honey">
                <li>
                    <a class="" href="/Home/Index">Home</a>
                </li>
                <li>
                    <a class="" href="/Home/About">About</a>
                </li>
                <li>
                    <a class="" href="/Home/SoftSkills">Soft Skills</a>
                </li>

                <li>
                    <a class="" href="/Home/Jobeducation">Job Education</a>
                </li>

                <li>
                    <a class="" href="/Home/Contact">Contact</a>
                </li>
                <li class="login">
                    <a  class="btn login-btn text-uppercase " href="/Home/Todolist">
                        To do List
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </nav>
    <!-- //nav -->
    <!-- banner -->
   
        </div>
    </div>
    <!-- //banner -->
</header>
